body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #2E2F42;
}
:root{
--brand-color: #4D5AE5;
}

.logo {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.313rem;
    text-decoration: none;
    color: #2E2F42;
}

.logo-color {
    color: var(--brand-color);
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5rem;
    text-decoration: none;
}

.adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color: #434455;
    text-decoration: none;
}
.adress:hover
{color: var(--brand-color);}
.adress:focus
{color: var(--brand-color);}

.header1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 3.75rem;
    color: white;
    background-color: #2E2F42;
}

.button-order {
    font-family: 'Roboto';
    font-weight: 500;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px, 32px;
    font-size: 16px;
    line-height: 1.5rem;
    background-color: var(--brand-color);
    color: #F4F4FD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
}
.button-order:hover
    {background-color: var(--brand-color);
    color: #FFFFFF;
    outline: none}
.button-order:focus {
    background-color: var(--brand-color);
    color: #FFFFFF;
    outline: none
}

.advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
}

.advantages-description {
    font-size: 16px;
    line-height: 1.5rem;
}

.headlines {
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5rem;
}

.card tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
}

.card-description {
    font-size: 16px;
    line-height: 1.5rem;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5rem;
}

.portfolio-buttons {
    font-weight: 500;
    height: 48px;
    border-radius: 4px;
    border: 1px;
    padding: 12px, 24px;
    background-color: #F4F4FD;
    color: var(--brand-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5rem;
    cursor: pointer;
    align-items: center;

}

.portfolio-buttons:hover {
    background-color: var(--brand-color);
    color: #FFFFFF;
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10)
}

.portfolio-buttons:focus {
    background-color: var(--brand-color);
    color: #FFFFFF;
    outline: none;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 2px 1px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}
.btn-all
{width:69px;}
.btn-website
{width: 116;}
.btn-app
{width: 78;}
.btn-design
{width: 101px}
.btn-marketing
{width: 126px;}
.portfolio-tittle{
font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.5rem;
color: #2E2F42;
}
.portfolio-description{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5rem;
    color: #434455;
}