body
{
font-family: "Roboto", sans-serif;
font-weight: 500;
color: #2E2F42;
}

.logo
{
font-family: "Raleway";
font-weight: 800;
font-size: 1.125;
line-height: 1.313;
text-decoration: none;
color: #2E2F42;
}
.logo-color
{
color: #4D5AE5;
}
.menu
{
font-size: 1; 
line-height: 1.5;
text-decoration: none;
}
.adress
{
font-weight: 400;
font-size: 1;
line-height: 1.5;
color: #434455;
text-decoration: none;    
}
.header1
{
font-weight: 700;
font-size: 3.5;
line-height: 3.75;
color: white;
background-color: #2E2F42;
}
.button-order
{
font-size: 1;
line-height: 1.5;
color: white;
background-color: #4D5AE5;
}
.advantages
{
font-size: 1.25;
line-height: 1.5;
}
.advantages-description
{
font-weight: 400;
font-size: 1;
line-height: 1.5;
}
.headlines
{
font-weight: 700;
font-size: 2.25;
line-height: 2.5;
}
.card tittle
{
font-size: 1.25;
line-height: 1.5;
}
.card-description
{
font-weight: 400;
font-size: 1;
line-height: 1.5;
}
.footer-text
{
font-weight: 400;
font-size: 1;
line-height: 1.5;
}
.button-portfolio
{
background-color: #F4F4FD;
font-size: 1;
line-height: 1.5;
color: #4D5AE5;
}
.button-portfolio:hover,
.button-portfolio:focus
{
background-color: #4D5AE5;
font-size: 1;
line-height: 1.5;
color: #F4F4FD;
}
.portfolio-tittle
{
font-size: 1.25;
line-height: 1.5;
}
.portfolio-description
{
font-weight: 400;
font-size: 1;
line-height: 1.5;
color: #434455;
}